canvas, button { display: block; margin-left: auto; margin-right: auto; text-align: center;}

button {
	width: 4em;
	text-align:center;
	line-height: 2em;
	text-decoration: none;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.3em;

}

.black button { background: black; color: white; }

.red button { background: red; }

.green button { background: green; }