@media all and (min-width: 0px) and (max-width: 359px) {
  body {
	 zoom: 1.0;
	 -moz-transform: scale(1.0);
	 -moz-transform-origin: 0 0;
  }
}

@media all and (min-width: 360px) and (max-width: 479px) {
  body {
	 zoom: 1.0;
	 -moz-transform: scale(1.0);
	 -moz-transform-origin: 0 0;
  }
}

@media all and (min-width: 480px) and (max-width: 530px) {
  body {
	 zoom: 1.0;
	 -moz-transform: scale(1.0);
	 -moz-transform-origin: 0 0;
  }
}
