body {	
	display:block;
	text-align:center;
	width: 510px;
}

.fixed { 
	text-align:left;
}

.scroll {
	text-align:left;
}

.box {
	width: 510px;
}

.box2 {
	margin:20px 70px 20px 70px;	
	padding:10px;	
}

.note {
	width: 510px;
}

.banner {
	width: 510px; 
}

.fixed { 
	width: 510px;
}

