body {	
	display:block;	
	width: 510px;
}

.fixed { 
	text-align:left;
}

.scroll {
	text-align:left;
}

.note2 {
	width: 510px;
}

.box {
	width: 510px;
}

.box2 {
	margin:40px 50px 40px 50px;	
	padding:10px;	
}

