[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=WarQuest
Exec=/usr/bin/single-instance /opt/WarQuest/bin/WarQuest
Icon=/usr/share/icons/hicolor/80x80/apps/WarQuest80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
